* {
    /* Includes margins + padding in total width of elements */
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    margin: 0;
}

html, body {
    height: 100%;
}

nav {
    background-color: #071013;

    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
    
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
}

section {
    height: 95%;

    display: flex;
    flex-direction: column;
}

#intro {
    height: 100%;
    background-color: #23B5D3;

    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

#name {
    font-size: 80pt;

    opacity: 0;

    position: relative;

    animation-name: load;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#tagline {
    font-size: 15pt;
    font-weight: bold;

    opacity: 0;

    position: relative;

    animation-name: load;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

button {
    font-size: 15pt;
    padding: 1.5vw;

    margin-top: 7%;

    opacity: 0;

    position: relative;

    animation-name: load;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 1s;

    cursor: pointer;

    color: white;
    font-weight: bold;

    background-color: #94C5CC;

    box-shadow: 5px 4px 4px #00000025;

    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: #A2AEBB;
}

button:active {
    background-color: #97AEBC;
}

#links {
    display: flex;
    align-items: center;

    position: relative;

    opacity: 0;

    margin-top: 30vh;

    animation-name: load;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

a {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

a:not(:last-child) {
    margin-right: 10vw;
}

.icon {
    width: 20px;
    margin: 0;

    filter: brightness(0) invert(1)
}

/* Animations for when webpage loads */
@keyframes load {
    from { 
        opacity: 0;
        top: 18px;
    }

    to { 
        opacity: 1;
        top: 0;
    }
}

h1 {
    font-size: 24pt;
}

#about-me {
    text-align: center;
}

#about-me-content * {
    margin: 5%;
}

#about-me-text {
    display: inline-block;

    width: 50%;

    text-align: left;
    font-size: 15pt;
    line-height: 30px;

    vertical-align: middle;
}

#headshot {
    display: inline-block;
    width: 550px;

    vertical-align: middle;

    border-radius: 100%;
}